AddHandler cgi-script .py
AddHandler fcgid-script .fcgi
RewriteEngine On

RewriteCond %{HTTP_HOST} ^codematch\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.codematch\.eu$
RewriteRule ^/?$ "http\:\/\/codematch\.eu" [R=301,L]

RewriteCond %{HTTP_HOST} ^sinilink\.bg$ [OR]
RewriteCond %{HTTP_HOST} ^www\.sinilink\.bg$
RewriteRule ^/?$ "http\:\/\/sinilink\.com" [R=301,L]


RewriteCond %{HTTP_HOST} ^parkingsector.bg$
RewriteRule ^/?$ "http\:\/\/www\.parkingsector\.bg" [R=301,L]

RewriteCond %{HTTP_HOST} ^ridey\.bg$ [OR]
RewriteCond %{HTTP_HOST} ^www\.ridey\.bg$
RewriteRule ^/?$ "http\:\/\/ridey\.bg" [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ mysite.fcgi/$1 [QSA,L]

Header add Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "X-Requested-With"


