.nameHolder{
	color:black;
	opacity:0.9;
	font-size:19px;
}
.img-company{
	width:100px;
	height:100px;
}
.shortDescription{
	color:black;
	opacity:0.7;
	font-size:15px;
}
.form-panel .location, .otherInfo{
	color:black;
	opacity:0.5;
	font-size:14px;
	text-align:left;
}

.separator::after {
    content: "\2022";
    margin: 0 1rem;
}
.videoUrl{
	width:100%;
}
.img-responsive{
	max-height:290px;
	margin: 0 auto;
}
.photo-wrapper{
	background-color: transparent;
}
.videoHolder{
	margin-bottom:15px;
}
.img-col{
	margin-bottom:15px;
}
.techStack, .perksList{
	color:black;
	opacity:0.9;
	list-style-type:circle;
}
.techStack li, .perksList li {
	list-style:disc;
}
.investorList, .linksList{
	color:black;
	opacity:0.9;
}
.img-refs{
	width:50px;
	height:50px;
	margin-right:15px;
	border-radius:12px;
}
.moreInfo > div{
	margin-bottom:20px;
}
.techStackHolder{
	margin-top:30px;
}
.about{
	color:black;
	font-size:18px;
	margin-bottom:5px;
}
.longDescription{
	font-size:15px;
	color:black;
	opacity:0.8;
	text-align: justify;
}
.editButton{
	float:right;
}
.editButton{
	float:right;
	font-size: 18px;
    cursor: pointer;
    color: rgba(0,0,0,0.9);
    padding:5px 10px;
}
.editButton:hover{
	background-color:#DADADA;
}
.gl{
	font-size:14px;
	color:rgba(0,0,0,0.85);
}