.tech, .tech:hover{
	margin:5px;
	background-color: #70ABE6;
	color:black;
	padding:10px 10px !important;
}
.network-name{
    		font-size:15px;
    	}
.username{
	margin-top:10px;
	text-align: center;
	font-size:25px;
	color:black;
}
.techSkills
{
	margin-top:15px;
	text-align: center;
}
.role{
	margin-top:15px;
	text-align: center;
	font-size:22px;
	color:#3C843C;
}
.location{
	margin-top:7px;
	text-align: center;
	font-size:23px;
	color:black;
	opacity:0.7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.work-description{
	margin-top:15px;
	text-align: center;
	font-size:20px;
	color:black;
	opacity:0.7;
}
.salary{
	color:#0F2B6B;
}
.salary-div{
	margin-top:30px;
	font-size:20px;
	color:black;
	opacity: 0.9;
}
.editor{
	margin-top:15px;
	text-align: center;
	font-size:23px;
}
.os{
	margin-top:15px;
	text-align: center;
}
.exp-lvl, .relocate, .exp-lvl:hover, .relocate:hover, .work-type, .work-type:hover{
	background-color: #3C843C;
	color:white;
}
.exp-level, .relocation, .worktype{
	margin-top:15px;
	text-align:center;
}
.holder{
	margin-top:15px;
	text-align:center;
}
.holder a{
	margin:0 5px;
}
.profile-img
{
	width:180px;
	height:180px;
}
.picUploader{
	position:absolute;
	top:0px;
	left:0px;
	border-radius:50%;
	width:180px;
	height:180px;
	opacity:0;
}
.pic-holder{
	position:relative;
	display:inline-block;
}
.picUploader:hover{
	cursor:pointer;
}
.edit-field:hover{
	background-color:#B2CCEC;
	cursor:pointer;
}
.edit-input{
	padding:10px;
	width: 100%;
	height:100%;
	text-align: center;
	background-color:#B2CCEC;
	border:none;
}
textarea.edit-input{
	min-height:120px;
	display:block;
}
.tech-container{
	width:50% !important;
	text-align:center;
}
.skills-to-select{
	max-height: 450px;
	overflow:auto;
	text-align:center;
	padding:5px;
}
.skills-to-select .tech{
	padding:3px !important;
}
.skills-to-select span{
	font-size:13px !important;
}
.skills-counter{
	font-size:15px;
}
.line-stack{
	font-size:18px;
	color:black;
	opacity:0.9;
	margin-top:10px;
}
.cancel{
	background-color:#F36464;
	margin-top:10px;
	color:rgba(0, 0, 0, 0.85);
	padding:5px 10px !important;
	font-size:14px;
	cursor:pointer;
}
.saveSkills{
	background-color:#66D666;
	color:rgba(0, 0, 0, 0.85);
	padding:5px 10px !important;
	font-size:14px;
	cursor:pointer;
	margin-left:10px;
}
.cancel:hover, .saveSkills:hover{
	color:rgba(0, 0, 0, 0.85);
}
.btns{
	margin-top:10px;
}
.location select{
	color:black;
	opacity:0.8;
	font-size:16px;
}
.salary select{
	color:#0F2B6B;
	opacity:0.8;
	font-size:16px;
}
.ed-options span{
	font-size:12px;
	color:rgba(0,0,0,0.8);
}
.os-imgs, .editor-imgs{
	width:75px;
	cursor: pointer;
}
.editor-imgs{
	margin:3px;
}
.invalid-url
{
	width:100%;
	min-height:20px;
	font-size:14px;
	color:red;
}
.chart-explanation{
	width:60%;
	position:absolute;
	top:45%;
	left:0;
	right:0;
	background-color:rgba(9, 105, 20, 0.84);
	font-size:12px;
	padding:10px;
	color:white;
	margin:0 auto;
}
.time-chart-edit{
	font-size:12px;
	padding:5px;
	background-color:#3C843C;
	cursor:pointer;
	display:inline-block;
	color:white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
svg title{
	display:none !important;
	opacity:0 !important;
}
.saveChanges, .saveAndMatch{
	display:inline-block;
	background-color:#3C843C;
	color:white;
	padding:10px;
	font-size:16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
}
.saveChanges:hover, .saveAndMatch:hover{
	background-color:#245A24;
}
.over{
	color:rgba(0,0,0,0.7);
	font-size:18px;
}
.under{
	color: #3C843C;
	font-size:22px;
}
.batch-col{
	font-size:17px;
	color:rgba(0,0,0,0.8);
}
.batch-explain{
	font-size:14px;
	color:rgba(0,0,0,0.75);
	cursor:pointer;
	padding:5px;
}
.batch-enhance{
	color:blue;
}
.batch-info{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.batch-explanation{
	font-size:18px;
	color:rgba(0,0,0,0.8);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:20px 10px;
}
.okay-btn{
	color:white;
	background-color:#3C843C;
	cursor:pointer;
	font-size:15px;
	padding:5px 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
