.radar-chart .level {
  stroke: rgba(128, 128, 128, 0.38);
  stroke-width: 0.5;
}
.radar-chart .axis line {
  stroke: rgba(128, 128, 128, 0.38);
  stroke-width: 1;
}

line.line {
  stroke: rgba(128, 128, 128, 0.38) !important;
  stroke-width: 0.5 !important;
}

.axis line.line {
  stroke: rgba(128, 128, 128, 0.38) !important;
  stroke-width: 1 !important;
}


.radar-chart .axis .legend {
  font-family: sans-serif;
  font-size: 10px;
}
.radar-chart .axis .legend.top {
  dy:1em;
}
.radar-chart .axis .legend.left {
  text-anchor: start;
}
.radar-chart .axis .legend.middle {
  text-anchor: middle;
}
.radar-chart .axis .legend.right {
  text-anchor: end;
}

.radar-chart .tooltip {
  font-family: sans-serif;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0;
}
.radar-chart .tooltip.visible {
  opacity: 1;
}

/* area transition when hovering */
.radar-chart .area {
  stroke: rgb(16, 129, 208) !important
  fill: rgb(16, 129, 208) !important
  stroke-width: 1 !important;
  fill-opacity: 1 !important;
}
polygon{
  stroke: rgb(16, 129, 208) !important
  fill: rgb(16, 129, 208) !important;
  stroke-width: 1 !important;
  fill-opacity: 1 !important;
  position:relative;
  z-index:10;
}

.special-shape{
  stroke-width: 0 !important;
  fill:rgba(255,255,255,0.2) !important;
  position:relative;
  z-index:100;
}

.intersect{
	stroke: #08B10D !important;
    fill: #09DA10 !important;
    fill-opacity: 0.5 !important;
}

/*
.radar-chart.focus .area {
  fill-opacity: 0.1;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.7;
}*/

.radar-chart .circle {
  fill-opacity: 0.9;
}
circle{
	fill-opacity: 0.9 !important;
	fill:rgb(17, 55, 125) !important;
	cursor:pointer;
	position:relative;
	z-index:100000;
}
.chart-company .radar-chart-serie0{
	stroke:#3C843C !important;
	fill:#3C843C !important;
}
.chart-company circle{
	fill:rgb(42, 80, 23) !important;
}

.chart-company-position .radar-chart-serie0{
	stroke:#3C843C !important;
	fill:#3C843C !important;
}
.chart-company-position circle{
	fill:rgb(42, 80, 23) !important;
}
/* transitions */
.radar-chart .area, .radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}
.radar-chart .d3-enter, .radar-chart .d3-exit {
  opacity: 0;
}
.legend{
      		font-size:16px !important;
      		opacity:0;
      		display:none;
      	}
svg text{
	background-color:#00C5DE !important;
}