.sublime{
	background:url("../img/editor_images/sublime-text.png");
	width:75px;
	height:75px;
}
.vim{
	background:url("../img/editor_images/vim.png");
	width:75px;
	height:75px;
}
.eclipse{
	background:url("../img/editor_images/eclipse.png");
	width:75px;
	height:75px;
}
.emacs{
	background:url("../img/editor_images/emacs.png");
	width:75px;
	height:75px;
}
.notepad{
	background:url("../img/editor_images/notepad.png");
	width:75px;
	height:75px;
}
.intellij{
	background:url("../img/editor_images/intellij.png");
	width:75px;
	height:75px;
}
.visual-studio{
	background:url("../img/editor_images/visual-studio.png");
	width:75px;
	height:75px;
}
.dreamweaver{
	background:url("../img/editor_images/dreamweaver.png");
	width:75px;
	height:75px;
}
.netbeans{
	background:url("../img/editor_images/netbeans.png");
	width:75px;
	height:75px;
}
.phpstorm{
	background:url("../img/editor_images/phpstorm.png");
	width:75px;
	height:75px;
}
.xcode{
	background:url("../img/editor_images/xcode.png");
	width:75px;
	height:75px;
}
.atom{
	background:url("../img/editor_images/atom.png");
	width:75px;
	height:75px;
}
.coda{
	background:url("../img/editor_images/coda.png");
	width:75px;
	height:75px;
}
.aptana{
	background:url("../img/editor_images/aptana.jpg");
	width:75px;
	height:75px;
}
.github{
	background:url("../img/github.png");
	width:75px;
	height:75px;
}
.linkedin{
	background:url("../img/linkedin.png");
	width:75px;
	height:75px;
}
.linux{
	background:url("../img/linux.png") 0px 0px;
	background-size:75px;
	width:75px;
	height:75px;
}
.osx{
	background:url("../img/osx.png");
	background-size:75px;
	width:75px;
	height:75px;
}
.windows{
	background:url("../img/windows.png");
	background-size:75px;
	width:75px;
	height:75px;
}