.tech, .tech:hover{
	margin:2px;
	background-color: #70ABE6;
	color:black;
	padding:6px !important;
}
.tech i{
	font-size:15px;
	float:none;
}
.network-name{
	font-size:12px !important;
}
.match{
	border-top:1px solid #DADADA;
	border-bottom:1px solid #DADADA;
	padding:10px 0px;
	cursor: pointer;
}
.shapes{
	background-color:#DADADA;
}
.shape-div{
	position:relative;
	top:2px;
	left:20%;
	text-align:center;
}
.shape{
	width:130px;
	height:130px;
	z-index:333;
	position:relative;
	cursor: pointer;
}
.logo-company{
	width:90px;
	height:90px;
	z-index:2;
	position:relative;
	left:-40px;
}
.company-name{
	text-align:center;
	margin-top:17%;
	font-size: 18px;
	color:#3C843C;
}
.more-info{
	margin-top:12%;
	display:inline-block;
}
.more-info div{
	font-size:14px;
	color:black;
}
.talent-info{
	text-align:center;
}
.lvl-exp{
	background-color: #73E3EB;
}
.relocate{
	background-color: #2EC977;
}
.chart-holder{
	display:inline-block;
	float:left;
	position:relative;
	z-index: 100;
}
.img-holder{
	margin-top:10px;
	display:inline-block;
	float:left;
	position:relative;
	z-index:2;
}
.chart-holder svg{
	background-color:white;
	border-radius:50%;
}
.company-img{
	margin-top:25px;
	width:120px;
	height:120px;
}
.jobTitle{
	margin-top:10px;
	text-align: center;
	font-size:25px;
	color:#3C843C;
}
.company-size{
	font-size:14px;
}
.position-description{
	margin-top:15px;
	text-align: center;
	font-size:20px;
	color:black;
	opacity:0.7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.info{
	margin-top:15px;
}
.salary{
	color:#0F2B6B;
}

.salary-holder{
	color:black;
	font-size:20px;
	margin-top:30px;
}
.chartHolder{
	margin-top:25px;
}
.more-company{
	font-size:10px;
	cursor: pointer;
}
.company-bold{
	color:#3C843C;
	font-size:12px;
}
.companyInfo{
	width:80%;
}
.companyInfo .modal-content{
	background-color:#f2f2f2;
}
.exp-lvl, .exp-lvl:hover, .worktype, .worktype:hover, .relocate, .relocate:hover
{
    background-color: #3C843C;
    color: white;
    font-size:12px;
}
.interested{
	font-size:15px;
	background-color:rgba(14, 167, 14, 1);
	color:white;
	padding:10px;
	cursor:pointer;
	margin:20px;
}
.notinterested{
	font-size:15px;
	background-color:#DA3939;
	color:white;
	padding:10px;
	cursor:pointer;
	margin:20px;
}
.btns{
	margin-top:50px;
	text-transform: uppercase;
	position:relative;
	bottom:0px;
}
.btns .glyphicon{
	font-size:13px;
	margin-right:10px;
}
.arrow{
	font-size:20px !important;
	padding:10px;
	cursor:pointer;
}
.media-object{
	width:70px;
	height:70px;
}
.chat-container{
	margin-top:20px;
	float:none !important;
	margin:0 auto;
	display:inline-block;
	text-align:left;
}
.chat-div{
	margin-top:25px;
}
.main-btns{
	display:inline-block;
}
.messege-box{
	height:60px;
	resize: none;
}
.send-btn{
	padding-top:17px !important;
	padding-bottom:15px !important;
}

.img-match{
	width:100px;
	height:100px;
}


.progress-bar {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #337ab7;
}

.progress-bar div {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.progress-bar div span {
  position: absolute;
  font-family: Arial;
  font-size: 25px;
  line-height: 75px;
  height: 75px;
  width: 75px;
  left: 12.5px;
  top: 12.5px;
  text-align: center;
  border-radius: 50%;
  color:#2AF520;
  background-color: white;
}

.progress-bar .background { background-color: #b3cef6; }

.progress-bar .rotate {
  clip: rect(0 50px 100px 0);
  background-color: #4b86db;
}

.progress-bar .left {
  clip: rect(0 50px 100px 0);
  opacity: 1;
  background-color: #b3cef6;
}

.progress-bar .right {
  clip: rect(0 50px 100px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}

@keyframes 
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}

.imgHolder{
	display: inline-block;
	width: 33%;
	position:relative;
}
.matchPercentage{
	display: inline-block;
	width: 33%;
	text-align: center;
}
.contact{
	display: inline-block;
	width: 33%;
	color:black;
	font-size: 15px;
}
.matchCanvas{
	float:none !important;
	margin:0 auto;
	background-color: transparent !important;
}

.interests-section{
	width: 100% !important;
	color:black;
	opacity: 0.8;
	font-size: 15px;
}
.techline{
	text-align: center;
	font-size:15px;
	color:black;
	opacity:0.8;
}
.chosenTechSkill{
	color:black;
	font-size:15px;
}
.match-line, .match-name{
	font-size: 15px;
	color:black;
}
.view-more{
	cursor: pointer;
}
.matches-notification{
	min-height: 20px;
	background-color: yellow;
	text-align: center;
}
.position-stack, .position-details{
	text-align:right !important;
}
.chart-company-position{
	display:inline-block;
	float:left;
	margin-left:12%;
	margin-right:5%;
}
.position-title, .matches-number{
	font-size:20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.position-title{
	color:#383869;
}
.main-info-hld{
	padding-left:20px;
}
.more-info-hld{
	
}
.back-btn{
	display:inline-block;
	position:absolute;
	top:5px;
	left:5px;
	cursor: pointer;
	z-index:999;
	color:#0B0B58;
}
.back-btn span{
	font-size:15px;
	color:#0B0B58;
}
.talentProfile{
	position:relative;
}

.network-name{
    		font-size:15px;
    	}
.username{
	margin-top:5px;
	text-align: center;
	font-size:22px;
	color:black;
}
.techSkills
{
	margin-top:10px;
	text-align: center;
}
.role{
	margin-top:10px;
	text-align: center;
	font-size:19px;
	color:#3C843C;
}
.location{
	margin-top:2px;
	text-align: center;
	font-size:20px;
	color:black;
	opacity:0.7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.work-description{
	margin-top:10px;
	text-align: center;
	font-size:17px;
	color:black;
	opacity:0.7;
}
.salary{
	color:#0F2B6B;
}
.salary-div{
	margin-top:30px;
	font-size:20px;
	color:black;
	opacity: 0.9;
}
.editor{
	margin-top:15px;
	text-align: center;
	font-size:23px;
}
.os{
	margin-top:15px;
	text-align: center;
}
.exp-lvl, .relocate, .exp-lvl:hover, .relocate:hover, .work-type, .work-type:hover{
	background-color: #3C843C;
	color:white;
}
.exp-level, .relocation, .worktype{
	text-align:center;
}
.holder{
	margin-top:5px;
	text-align:center;
}
.holder a{
	margin:0 2px;
}
.profile-img
{
	width:150px;
	height:150px;
}
.picUploader{
	position:absolute;
	top:0px;
	left:0px;
	border-radius:50%;
	width:180px;
	height:180px;
	opacity:0;
}
.pic-holder{
	position:relative;
	display:inline-block;
}
.picUploader:hover{
	cursor:pointer;
}
.edit-field:hover{
	background-color:#B2CCEC;
}
.edit-input{
	padding:10px;
	width: 100%;
	height:100%;
	text-align: center;
	background-color:#B2CCEC;
	border:none;
}
textarea.edit-input{
	min-height:120px;
	display:block;
}
.tech-container{
	width:50% !important;
	text-align:center;
}
.skills-to-select{
	max-height: 450px;
	overflow:auto;
	text-align:center;
	padding:5px;
}
.skills-to-select .tech{
	padding:3px !important;
}
.skills-to-select span{
	font-size:13px !important;
}
.skills-counter{
	font-size:15px;
}
.line-stack{
	font-size:18px;
	color:black;
	opacity:0.9;
	margin-top:10px;
}
.cancel{
	background-color:#F36464;
	margin-top:10px;
	color:rgba(0, 0, 0, 0.85);
	padding:5px 10px !important;
	font-size:14px;
	cursor:pointer;
}
.saveSkills{
	background-color:#66D666;
	color:rgba(0, 0, 0, 0.85);
	padding:5px 10px !important;
	font-size:14px;
	cursor:pointer;
	margin-left:10px;
}
.cancel:hover, .saveSkills:hover{
	color:rgba(0, 0, 0, 0.85);
}
.btns{
	margin-top:10px;
}
.location select{
	color:black;
	opacity:0.8;
	font-size:16px;
}
.salary select{
	color:#0F2B6B;
	opacity:0.8;
	font-size:16px;
}
.ed-options span{
	font-size:12px;
	color:rgba(0,0,0,0.8);
}
.os-imgs, .editor-imgs{
	width:75px;
	cursor: pointer;
}
.editor-imgs{
	margin:3px;
}
.invalid-url
{
	width:100%;
	min-height:20px;
	font-size:14px;
	color:red;
}
.chart-explanation{
	width:60%;
	position:absolute;
	top:45%;
	left:0;
	right:0;
	background-color:rgba(9, 105, 20, 0.84);
	font-size:12px;
	padding:10px;
	color:white;
	margin:0 auto;
}
.time-chart-edit{
	font-size:12px;
	padding:5px;
	background-color:#3C843C;
	cursor:pointer;
	display:inline-block;
	color:white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
svg title{
	display:none !important;
	opacity:0 !important;
}
.saveChanges, .saveAndMatch{
	display:inline-block;
	background-color:#3C843C;
	color:white;
	padding:10px;
	font-size:16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
}
.saveChanges:hover, .saveAndMatch:hover{
	background-color:#245A24;
}
.tech-stack-match, .more-info-match{
	text-align:right;
}
.response-type{
	color:#0B5D78;
}
.editor-os, .detailsInfo{
	margin-top:3px;
}
.detailsInfo a{
	margin:2px;
}
.editor-os img{
	margin:2px;
}
