<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/company-profile.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>Codematch.eu</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/logout/">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu left-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="/media/{{company.profile_picture}}" class="img-circle" width="80" height="80"></a></p>
              	  <h5 class="centered">{{company.user.username}}</h5>
              	  <li class="mt">
                      <a class="active menu-option" href="index.html">
                          <span>Matches</span>
                      </a>
                  </li>
                  <li class="menu-option">
                      <a class="" href="index.html">
                          <span>My Offers</span>
                      </a>
                  </li>
                  <li class="menu-option">
                      <a class="" href="index.html">
                          <span>My Batches</span>
                      </a>
                  </li>
                  <li class="create-offer">
                      <a class="" href="index.html">
                          <span>Create offer</span>
                          <i class="fa fa-plus"></i>
                      </a>
                  </li>
                  <li class="create-offer">
                      <a class="" href="index.html">
                          <span>Apply for Batch</span>
                          <i class="fa fa-plus"></i>
                      </a>
                  </li>
                  <!--
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>UI Elements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="general.html">General</a></li>
                          <li><a  href="buttons.html">Buttons</a></li>
                          <li><a  href="panels.html">Panels</a></li>
                      </ul>
                  </li>
                  -->
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
              <div class="matches-notification">
                Congratulations! You are currently signed in 15-29 May Batch and up to now have 2 Matches.
              </div>
                <div class="matchesHolder">
                  <div class="match">
                    <div class="imgHolder">
                      <img class="img-circle img-match" src="http://graph.facebook.com/100000364223040/picture?type=large">
                      <div class="match-name">Mihail Ivanov</div>
                    </div>
                    <div class="matchPercentage">
                          <div class="progress-bar matchCanvas" data-percent="89" data-duration="1000" data-color="#C6F5C4,#2AF520"></div>
                          <div><span class="match-line">Match </span><span class="view-more">View more</span></div>
                    </div>
                    <div class="contact">
                      <div style="float:right;line-height:100px;">Contact</div>
                    </div>
                    <div class="moreDetails" hidden>
                      <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-5 col-sm-6">
                                        <div class="techline">
                                            Tech skills
                                        </div>
                                        <div>
                                            <div class="techSkillHolder">
                                                <div>
                                                    <div class="chosenTechSkill">
                                                        HTML
                                                    </div>
                                                    <div class="progress" style="">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                        "width:100%;height:20px;">
                                                            100%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="chosenTechSkill">
                                                        JAVASCRIPT
                                                    </div>
                                                    <div class="progress">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                        "width:40%;height:20px;">
                                                            40%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chosenTechSkill">
                                                    CSS
                                                </div>
                                                <div class="progress" style="">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                    "width:70%;height:20px;">
                                                        70%
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="chosenTechSkill">
                                                    Python
                                                </div>
                                                <div class="progress">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                    "width:90%;height:20px;">
                                                        90%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chosenTechSkill">
                                                MySQL
                                            </div>
                                            <div class="progress" style="">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                "width:20%;height:20px;">
                                                    20%
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="chosenTechSkill">
                                                Bootstrap
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                "width:30%;height:20px;">
                                                    30%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-6 time-management">
                                        <div class="techline">
                                            Desired time management during work
                                        </div>
                                        <div>
                                            <div class="techSkillHolder">
                                                <div>
                                                    <div class="chosenTechSkill">
                                                        Front-end Development
                                                    </div>
                                                    <div class="progress" style="">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                        "width:100%;height:20px;">
                                                            100%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="chosenTechSkill">
                                                        Back-end Development
                                                    </div>
                                                    <div class="progress">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                        "width:40%;height:20px;">
                                                            40%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chosenTechSkill">
                                                    Documentation
                                                </div>
                                                <div class="progress" style="">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                    "width:70%;height:20px;">
                                                        70%
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="chosenTechSkill">
                                                    Code review
                                                </div>
                                                <div class="progress">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                    "width:90%;height:20px;">
                                                        90%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chosenTechSkill">
                                                Analysis
                                            </div>
                                            <div class="progress" style="">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                "width:20%;height:20px;">
                                                    20%
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="chosenTechSkill">
                                                Architecture
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                "width:30%;height:20px;">
                                                    30%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-6 interests-section">
                                            <div style="text-align:center;">
                                                <div>
                                                    Desired role: <span>Front-end developer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-sm-6 interests-section">
                                            <div style="text-align:center;">
                                                <div>
                                                    Years of experience: <span>4 years</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-sm-6 interests-section">
                                            <div style="text-align:center;">
                                                <div>
                                                    Desired industry: <span>Consumer-end Software Products</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                    </div>
                  </div>

                  <div class="match">
                    <div class="imgHolder">
                      <img class="img-circle img-match" src="http://graph.facebook.com/100002624205381/picture?type=large">
                      <div class="match-name">Claudio Mireles</div>
                    </div>
                    <div class="matchPercentage">
                          <div class="progress-bar matchCanvas" data-percent="77" data-duration="1000" data-color="#C6F5C4,#2AF520"></div>
                          <div><span class="match-line">Match </span><span class="view-more">View more</span></div>
                    </div>
                    <div class="contact">
                      <div style="float:right;line-height:100px;">Contact</div>
                    </div>
                    <div class="moreDetails" hidden>
                      <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-5 col-sm-6">
                                        <div class="techline">
                                            Tech skills
                                        </div>
                                        <div>
                                            <div class="techSkillHolder">
                                                <div>
                                                    <div class="chosenTechSkill">
                                                        HTML
                                                    </div>
                                                    <div class="progress" style="">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                        "width:100%;height:20px;">
                                                            100%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="chosenTechSkill">
                                                        JAVASCRIPT
                                                    </div>
                                                    <div class="progress">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                        "width:40%;height:20px;">
                                                            40%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chosenTechSkill">
                                                    CSS
                                                </div>
                                                <div class="progress" style="">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                    "width:70%;height:20px;">
                                                        70%
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="chosenTechSkill">
                                                    Python
                                                </div>
                                                <div class="progress">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                    "width:90%;height:20px;">
                                                        90%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chosenTechSkill">
                                                MySQL
                                            </div>
                                            <div class="progress" style="">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                "width:20%;height:20px;">
                                                    20%
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="chosenTechSkill">
                                                Bootstrap
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                "width:30%;height:20px;">
                                                    30%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-6 time-management">
                                        <div class="techline">
                                            Desired time management during work
                                        </div>
                                        <div>
                                            <div class="techSkillHolder">
                                                <div>
                                                    <div class="chosenTechSkill">
                                                        Front-end Development
                                                    </div>
                                                    <div class="progress" style="">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                        "width:100%;height:20px;">
                                                            100%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="chosenTechSkill">
                                                        Back-end Development
                                                    </div>
                                                    <div class="progress">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                        "width:40%;height:20px;">
                                                            40%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chosenTechSkill">
                                                    Documentation
                                                </div>
                                                <div class="progress" style="">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                    "width:70%;height:20px;">
                                                        70%
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="chosenTechSkill">
                                                    Code review
                                                </div>
                                                <div class="progress">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                    "width:90%;height:20px;">
                                                        90%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chosenTechSkill">
                                                Analysis
                                            </div>
                                            <div class="progress" style="">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                "width:20%;height:20px;">
                                                    20%
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="chosenTechSkill">
                                                Architecture
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-striped active" role="progressbar" style=
                                                "width:30%;height:20px;">
                                                    30%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-6 interests-section">
                                            <div style="text-align:center;">
                                                <div>
                                                    Desired role: <span>Front-end developer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-sm-6 interests-section">
                                            <div style="text-align:center;">
                                                <div>
                                                    Years of experience: <span>4 years</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-sm-6 interests-section">
                                            <div style="text-align:center;">
                                                <div>
                                                    Desired industry: <span>Consumer-end Software Products</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                    </div>
                  </div>

                </div>
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer" hidden>
          <div class="text-center">
              2014 - Alvarez.is
              <a href="index.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="assets/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="/static/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="/static/js/common-scripts.js"></script>

    <script src="/static/js/jQuery-plugin-progressbar.js"></script>
    <script src="/static/js/company-profile.js"></script>
    <script type="text/javascript">
      $(".progress-bar").loading();
    </script>
  </body>
</html>
