<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="logo" type="image/png" href="demo.png" />
      <title>Demo Radar chart D3</title>
      <style>
      body{font-family: sans-serif}
      </style>
      <link href="/static/css/radar-chart.css" rel="stylesheet">
      <style>
      	circle{
      		padding:10px;
      		cursor:pointer;
      	}
      </style>
</head>
<body>
 <div>
  <h2 class="footage"></h2>
  <h4><a href='https://github.com/alangrafu/radar-chart-d3'>https://github.com/alangrafu/radar-chart-d3</a></h4>
  <div id="chart" style='float:left'></div>
 </div>
 
<script src="/static/js/jquery.js"></script>
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/radar-chart2.js"></script>
<script src="/static/js/polygon.js"></script>
<script>
var interesect_polygon = null;
var data = [
	[
	{axis: "Analysis", value: 5, order: 0, default: true},
	{axis: "Science", value: 5, order: 1, default: true},
	{axis: "Documentation", value: 5, order: 2, default: true},
	{axis: "Code Review", value: 5, order: 3, default: true},
	{axis: "Testing", value: 5, order: 4, default: true},
	{axis: "UI/UX", value: 35, order: 5, default: true},
	{axis: "Front-end", value: 95, order: 6, default: true},
	{axis: "Back-end", value: 55, order: 7, default: true},
	{axis: "Operations", value: 5, order: 8, default: true},
	{axis: "Architecture", value: 5, order: 9, default: true}
],[
	{axis: "Analysis", value: 5, order: 0, default: true},
	{axis: "Science", value: 5, order: 1, default: true},
	{axis: "Documentation", value: 5, order: 2, default: true},
	{axis: "Code Review", value: 5, order: 3, default: true},
	{axis: "Testing", value: 5, order: 4, default: true},
	{axis: "UI/UX", value: 45, order: 5, default: true},
	{axis: "Front-end", value: 85, order: 6, default: true},
	{axis: "Back-end", value: 95, order: 7, default: true},
	{axis: "Operations", value: 5, order: 8, default: true},
	{axis: "Architecture", value: 5, order: 9, default: true}
]
];

RadarChart.draw("#chart", data);
interesect_polygon = intersectionPolygons(data[0], data[1]);
var points = interesect_polygon.map(function(p) {
                return [p.x, p.y].join(',');
              }).join(' ');
setTimeout(function(){
	//$(".radar-chart-serie0").hide();
	//$(".radar-chart-serie1").attr("points", points);
},3000);

var x1 = interesect_polygon.map(function(p) { return p.x;});
var y1 = interesect_polygon.map(function(p) { return p.y;});
var area1 = polygonArea(x1,y1,x1.length);

var x2 = data[1].map(function(p) { return p.x;});
var y2 = data[1].map(function(p) { return p.y;});
var area2 = polygonArea(x2,y2,x2.length);
var coverage = (area1/area2)*100 + "%";

$(".footage").html(coverage);

function polygonArea(X, Y, numPoints) 
{ 
  area = 0;         // Accumulates area in the loop
  j = numPoints-1;  // The last vertex is the 'previous' one to the first

  for (i=0; i<numPoints; i++)
    { area = area +  (X[j]+X[i]) * (Y[j]-Y[i]); 
      j = i;  //j is previous vertex to i
    }
  return area/2;
}
//This function generates a new array with 3 objects every time. The values for each axis are randomized
//In order to re-generate the radar chart, you jsut need to run RadarChart.draw("#chart2", data) as usual.


</script>

</body>
</html>