<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" type="image/png" href="/static/img/small_logo.png"/>
    <link rel="shortcut icon" type="image/png" href="/static/img/small_logo.png"/>
    <title>Codematch - Redefining the standards on how Tech recruiting works!</title>
    <!-- SEO meta tags -->
        <meta name="description" content="We are a tech talent matching service for startups"/>
        <meta name="keywords" content="recruiting, tech, developers, talen, software, companies"/>
        <meta name="purpose" content="Find a tech job based on your interests."/>
        <meta name="distribution" content="Global" />
        <meta name="rating" content="General" />
        <meta name="robots" content="index, follow" />
        <meta name="publisher" content="codematch.eu" />
        <meta name="classification" content="service, free service, Ltd" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="revisit-after" content="21 days" />
        <!-- End of SEO meta tags   
    
        <!-- Facebook meta tags -->
       <!-- <meta property="og:locale" content="bg_BG">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Ridey.bg | Намери/предложи бързо и лесно свободно място за пътуване.">
        <meta property="og:site_name" content="Ridey">
        <meta property="og:url" content="http://www.ridey.bg">
        <meta name="description" content="Ridey.bg e онлайн платформа за намиране и предлагане на свободни места за пътувания."/>
        <meta property="og:description" content="Иновативният начин да пътуваш.">-->
            
        <link rel="image_src" href="http://www.codematch.eu/static/img/office3.jpg" / >
        <meta property="og:image" content="http://www.codematch.eu/static/img/office3.jpg">
        <meta property="og:image:type" content="image/png">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/registration.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>-->
                <a href="/"><img class="navbar-brand page-scroll logo_image" src="/static/img/logo_codematch_website.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->

        <div >
            <div style="color:white;margin-top:200px;">
				<div class="col-lg-5 col-sm-6">
                	<div style="text-align:center;">
                    	<div style="font-size: 20px;">Get access and find great IT specialists for your team.</div>
                    	<div style="font-size:17px;margin-top:15px;">We will send you a verification email with a link to complete your company profile and get ready to hire.</div> 
                    </div>   
                </div>
                <div class="col-lg-5 col-sm-6">
	                <div>
	                     <div class="credentialHolder">
	                     	<span class="credential" >Company</span>
	                     	<input class="credential-input companyName" type="text" placeholder="Company name"/>
	                     </div>
	                     <div class="credentialHolder">
	                     	<span class="credential" >Location</span>
	                     	<select class="location credential-input form-control">
	                    		<option value="Sofia, Bulgaria">Sofia, Bulgaria</option>
	                    		<option value="Sofia, Bulgaria">Athens, Greece</option>
	                    		<option value="Sofia, Bulgaria">Bucharest, Romania</option>
	                    		<option value="Sofia, Bulgaria">Belgrade, Serbia</option>
	                    		<option value="Sofia, Bulgaria">Skopje, Macedonia</option>
	                    	</select>
	                     </div>
	                     <div class="credentialHolder">
	                     	<span class="credential" >Name</span>
	                     	<input class="credential-input username" type="text" placeholder="First and last name"/>
	                     </div>
	                     <div class="credentialHolder">
	                     	<span class="credential" >Email</span>
	                     	<input class="credential-input email" type="text" placeholder="example@mycompany.com"/>
	                     </div>
	                     <div class="credentialHolder">
	                     	<span class="credential" >Password</span>
	                     	<input class="credential-input password" type="password" placeholder="Your password"/>
	                     </div>
	                </div>
	                <div style="text-align: center;">
	                	<!--<input type="text" style="width:120px;" class="credential-input promocode" placeholder="promocode"/>-->
	                	 <a style="display: inline-block;padding:7px 15px;font-size:15px;" class="btn btn-xl signUpButton">Register</a>
	                </div>
                </div>
            </div>
        </div>
        <div style="position:absolute;bottom:10px;text-align: center;width: 100%;" class="hidden-xs">
        	<a href="/static/templates/terms.html">Terms of Use</a>
        </div>
        <footer class="visible-xs">
        	<a href="/static/templates/terms.html">Terms of Use</a>
        </footer>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/classie.js"></script>
	<script src="/static/js/cbpAnimatedHeader.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/registration.js"></script>
    <script src="/static/js/GA.js"></script>
</body>

</html>
