<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"><!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type=
    'text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <title></title>
</head>
<body>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="myModalLabel">Codematch Terms and Conditions</h4>
        </div>
        <div class="modal-body text-center">
            <h5>The Platform is owned and operated by Codematch (“Codematch", “our”, “us” or “we”). The Platform is
            offered subject to your acceptance without modification of all of the terms and conditions contained herein
            and all other operating rules, policies (including, without limitation, Codematch’s Privacy Policy) and
            procedures that may be published from time to time on this Platform by Codematch (collectively, the
            “Agreement”).</h5>
            <h5>Terms Acceptance</h5>
            <p class="text-justify">Please read this Agreement carefully before accessing or using the Platform. By
            accessing or using any part of The Platform, you agree to become bound by the terms and conditions of this
            agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access
            The Platform or use any of our services. If these terms and conditions are considered an offer by
            Codematch, acceptance is expressly limited to these terms. Please refer to this Platform page periodically
            for any changes.</p>
            <h5>Platform and License Description</h5>
            <p class="text-justify">The Platform is the source of Codematch’s services and products. All the images,
            texts and any kind of content displayed in The Platform are protected by the copyright laws of the European
            Union and other countries. Codematch grants you a license to view the contents on the publicly accessible
            areas of The Platform. This license does not include the right to screen scrape, reproduce, distribute,
            broadcast, modify, or otherwise commercially exploit any of the Contents, except that reproduction
            incidental to your use of the Site in accordance with these Terms is permitted. The license can be
            terminated by Codematch at any time with or without cause.</p>
            <h5>Site Modifications</h5>
            <p class="text-justify">Codematch reserves the right at any time to modify the information or discontinue
            providing access to The Platform, temporarily or permanently, with or without notice to you. You agree that
            Codematch will not be liable to you for any modification, suspension or discontinuance of The Platform or
            the content.</p>
            <h5>Termination</h5>
            <p class="text-justify">Codematch may terminate your access to all or any part of The Platform at any time,
            with or without cause, with or without notice, effective immediately. If you wish to terminate this
            Agreement or your Codematch account, you may stop using The Platform. All provisions of this Agreement
            which by their nature should survive termination shall survive termination, including, without limitation,
            reward payment conditions, ownership provisions, warranty disclaimers, indemnity and limitations of
            liability.</p>
            <h5>Site Usage Restrictions</h5>
            <p class="text-justify">Codematch will take action to prevent the misuse of The Platform for any unlawful
            or objectionable purpose. Accordingly, you agree not to use The Platform for any unlawful or objectionable
            purpose, including without limitation use of the Site to post, upload, or transmit any information
            available that is: (1) unlawful under the laws of any jurisdiction to which you or Codematch are subject;
            (2) harmful, threatening, harassing, defamatory, invasive of the privacy of another, or obscene (including
            without limitation any images or depictions of child abuse, child pornography, or minors engaged in sexual
            conduct or explicitly sexual situations); (3) insider information, or any other proprietary or confidential
            information; (4) an infringement of any patent, trademark, trade secret, copyright or other intellectual
            property right; (5) falsified, including without limitation the use of forged headers or otherwise
            manipulated identifiers in order to disguise its origin; (6) containing or transmitting software viruses or
            any other malicious computer code, files or programs designed to interrupt, destroy or limit the
            functionality of any computer software; (7) to be used in any passenger rights claims actions; (8) an
            advertisement or solicitation for any products or services. You agree to indemnify and hold harmless
            Landing.jobs from any liability incurred as the result of your violation of these Terms.</p>
            <h5>Agreement Changes</h5>
            <p class="text-justify">Codematch reserves the right, at its sole discretion, to modify or replace any part
            of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your
            continued use of or access to The Platform following the posting of any changes to this Agreement
            constitutes acceptance of those changes. Codematch may also, in the future, offer new services and/or
            features through The Platform (including, the release of new features and services). Such new features
            and/or services shall be subject to the terms and conditions of this Agreement.</p>
            <h5>Disclaimer of Warranties</h5>
            <p class="text-justify">The Platform is provided “as is”. Codematch and its suppliers and licensors hereby
            disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of
            merchantability, fitness for a particular purpose and non-infringement. Neither Codematch nor its suppliers
            and licensors, makes any warranty that the Site will be error free or that access thereto will be
            continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand that you
            download from, or otherwise obtain content or services through The Platform at your own discretion and
            risk.</p>
            <h5>Limitation of Liability</h5>
            <p class="text-justify">In no event will Codematch, or its suppliers or licensors, be liable with respect
            to any subject matter of this agreement under any contract, negligence, strict liability or other legal or
            equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement
            for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv)
            for any amounts that exceed the fees paid by you to Codematch under this agreement during the twelve (12)
            month period prior to the cause of action. Codematch.eu shall have no liability for any failure or delay
            due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by
            applicable law.</p>
            <h5>General Representation and Warranty</h5>
            <p class="text-justify">You represent and warrant that (i) your use of The Platform will be in strict
            accordance with the Codematch Privacy Policy, with this Agreement and with all applicable laws and
            regulations (including without limitation any local laws or regulations in your country, state, city, or
            other governmental area, regarding online conduct and acceptable content, and including all applicable laws
            regarding the transmission of technical data exported from the country in which you reside) and (ii) your
            use of the Site will not infringe or misappropriate the intellectual property rights of any third
            party.</p>
            <h5>Indemnification</h5>
            <p class="text-justify">You agree to indemnify and hold harmless Codematch, its contractors, and its
            licensors, and their respective directors, officers, employees and agents from and against any and all
            claims and expenses, including attorneys’ fees, arising out of your use of The Platform, including but not
            limited to your violation of this Agreement.</p>
            <h5>Job Offer Conditions</h5>
            <p class="text-justify">By accepting our Terms & Conditions, the employer allows Codematch to edit job
            offers and company details as they see fit, using publicly available information in combination with the
            details you provided. This level of curation is essential to keeping our platform clean and simple. Job
            offers will be available on our Batch for 15 consecutive days (Duration of a Batch. Employers cannot
            request an extension of this period. Codematch.eu also reserves the right to: 1. Feature, unpublish, edit,
            re-publish or close job offers at any moment, without notice and/or prior consent; 2. Share job offers in
            external channels such as job boards, partner websites, and social media (e.g. Facebook, LinkedIn and/or
            Twitter), with the sole purpose of increasing their reach. Codemacth only allows the publication of job
            offers for fixed-term contracts when the contract length is, at least, 6 months.</p>
            <h5>Payment Conditions</h5>
            <p class="text-justify">By accepting our Terms & Conditions, those employers who had a job offer approved
            agree to pay a posting fee of 500€ to Codematch in order to have their offer published in The Platform,
            during the Batch time. Employers transfer the mentioned amount of money until 15 days before of the
            beginning of the batch.</p>
            <h5>Guarantee</h5>
            <p class="text-justify">If, for some reason, the employer decides not to keep the new hire, or if the hire
            leaves the employer within a 60 day’s guarantee period after his/her starting date, Codematch will re-open
            or keep the job offer on the next batch window, at no extra cost. However, Codematch will not issue any
            refund.</p>
            <h5>Rewards</h5>
            <p class="text-justify">Codematch offers a hiring bonus of 100€ to every candidate hired through Codemacth
            with a valid application. The reward and represent no extra cost for the employer. The reward will be payed
            to the hired candidate the sixtieth work day.</p>
            <h5>Candidate information</h5>
            <p class="text-justify">By accepting our Terms & Conditions, you agree to allow Codematch to gather,
            process, store, publish and transfer the data provided by you in accordance with our Privacy Policy.</p>
        </div>
    </div>
    <script src="/static/js/jquery.js">
    </script> <!-- Bootstrap Core JavaScript -->
     
    <script src="/static/js/bootstrap.min.js">
    </script>
</body>
</html>